            .boadingmatesimage {
                height: 100px;
                width: 130px;
                top: 15px;
                position: relative;
            }
            
            .card {
                height: 200px;
                width: 260px;
                margin: 90px 90px 10px 90px;
                display: flex;
                align-items: center;
                border-radius: 20%;
                cursor: pointer;
                border-color: #08c593;
                border-width: 4px;
            }
            
            .allcards {
                display: flex;
                flex-direction: row;
                justify-content: center;
                flex-flow: wrap;
                position: relative;
                top: 140px;
                width: 70%;
                left: 290px;
            }
            
            .card:hover {
                font-weight: bold;
            }
            
            .cardheading {
                font-size: 30px;
                position: relative;
                top: 30px;
            }
            
            .discription {
                position: relative;
                top: 40px;
            }
            
            .togelheader {
                font-weight: bold;
                color: red;
                font-size: 30px;
            }
            
            .togelcontainer {
                height: 100px;
                width: 340px;
                border-style: dotted;
                border-color: #08c593;
                align-items: center;
                position: relative;
                display: flex;
                border-radius: 10%;
                top: 150px;
                justify-content: center;
            }
            
            .specialcontainer {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                width: 70%;
                left: 290px;
                position: relative;
                flex-flow: wrap;
            }
            
            .togel {
                position: relative;
                left: 9px;
            }
            
            .togelheader {
                font-weight: bold;
                color: red;
                font-size: 30px;
            }
            
            .togelcontainer {
                height: 100px;
                width: 340px;
                border-style: dotted;
                border-color: #08c593;
                align-items: center;
                position: relative;
                display: flex;
                border-radius: 10%;
                top: 150px;
            }
            
            .bac {}
            
            a {
                cursor: pointer;
            }