<div class="allbooks">
    <div *ngFor="let book of books">
        <mat-card class="x">

            <div class=image>
                <img class="imageori" [src]="book.empImage "><br>
                <br>
            </div>
            <div class=" text1 ">{{ book.name }}</div>

            <div class="text2 ">{{ book.mobilenumber }}</div>
            <div class="text3 ">{{ book.address }}</div><button mat-stroked-button color="warn" class="viewprofile" [routerLink]="['/doctorprofileforpatient', book.id]">View Profile</button>

            <!-- <button mat-stroked-button class="favorite" (click)="makeFavorite(book)"><mat-icon >favorite</mat-icon></button> -->

        </mat-card>
    </div>
</div>